@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    height: 80vh;
    width: 100%;
}

.container__textarea {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    background: transparent;
    position: relative;
}

#container__mirror {
    position: absolute;
    height: 100vh;
    width: 100vh;
    overflow-y: hidden;
    color: transparent;
    z-index: 10;
    max-width: 100%;
    overflow-x: hidden;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

p {
    text-align: left;
    font: 9px 'Opens Sans', sans-serif;
}

h1 {
    text-align: left;
    font: 18px 'Opens Sans', sans-serif;
}

input {
    float: right;
    margin-right: 10pt;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  background-color: black;
  color: #fff;
  text-align: center;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  position: absolute;
  visibility: visible;
  z-index: 10000;
}
